nav(class="flex items-center justify-between flex-wrap px-6 py-2 lg:py-0 " + env.bg)
  div(class="flex items-center flex-shrink-0 mr-6")
    a(href="/")
      span(class="font-semibold text-xl tracking-tight") #{appName}
  div(class="block lg:hidden")
    button(class="flex items-center px-3 py-2 border rounded text-" + env.colour +"-200 border-" + env.colour + "-400 hover:text-white hover:border-white" id="menu-button")
      svg(class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
        title Menu
        path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
  div(class="w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="menu-items")
    div(class="text-sm lg:flex-grow")
      a(href="/guests" class="block mt-4 lg:inline-block lg:mt-0 text-" + env.colour + "-200 hover:text-white mr-4") #{guestList}
      a(href="/location" class="block mt-4 lg:inline-block lg:mt-0 text-" + env.colour + "-200 hover:text-white mr-4") #{location}
      if user && user.Accommodation
        a(href="/accommodation" class="block mt-4 lg:inline-block lg:mt-0 text-" + env.colour + "-200 hover:text-white mr-4") #{accommodation}
      a(href="/transport" class="block mt-4 lg:inline-block lg:mt-0 text-" + env.colour + "-200 hover:text-white") #{transport}
    div
      if user
        span.lang-selector.text-xl.cursor-pointer#en
          | 🇬🇧
        span |
        span.lang-selector.text-xl.cursor-pointer.mr-4#hu
          | 🇭🇺
        a(href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-" + env.colour + "-" + env.sat + " hover:bg-white mt-4 lg:mt-0")
          | #{logOut}
      else
        a(href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-" + env.colour + "-" + env.sat + " hover:bg-white mt-4 lg:mt-0")
          | #{logIn}