include includes/head.pug
main.site-content
  section.container
    .columns
      .column.is-8
        section.card.is-light
          .card-content
            if guests
              if user.admin
                h2.is-title.is-size-2 #{guestListFull}
              else
                h2.is-title.is-size-2 #{guestList}
              p #{yourTable} 
        
              span.tag.is-large.is-dark #{user.Table}

              table.table.is-striped.is-hoverable.is-fullwidth
                thead
                  th #{name}
                  th #{RSVPQn}
                  if user.admin
                    th #{table}
                tbody
                  each guest, index in guests
                    tr
                      td #{guest.Name}
                      if guest.RSVPResponded
                        td #{guest.RSVP ? coming : notComing}
                      else
                        td #{noResponse}
                      if user.admin
                        td #{guest.Table}

            else
              h2.is-title.is-size-2 #{whoops}
              p #{notHere}
              a.button.is-primary(href="/") #{goHome}

include includes/footer.pug

script(src='/rsvp.js')  