include includes/head.pug

main.site-content
  section.container
    .columns
      .column.is-8
        section.card.is-light
          .card-content
            if user
              - const rsvpList = [user].concat(user.plusOnes).filter(valid => valid)
              h1.title.is-size-2 #{hi} #{user.Name.split(" ")[0]}!
              if user.RSVPResponded
                  section
                    if user.RSVP
                      .subtitle #{happyComing}
                      if user.Accommodation
                        p #{accommodationProvided}
                      
                      br
                      
                      p #{checkDetails}
                      
                      br
                      
                      nav.level
                        if user.Accommodation
                          .level-item
                            a.button.is-outlined.is-primary(href="/accommodation")
                              | #{accommodation}
                        .level-item
                          a.button.is-outlined.is-primary(href="/location")
                            | #{whereIs}
                        .level-item
                          a.button.is-outlined.is-primary(href="/transport")
                            | #{getThere}
                      
                      br
                      
                    else
                      p #{sorryYouCantCome}

              p #{canYouJoin}
              
              br
              
              form.columns#rsvp-form
                each guest,index in rsvpList
                  .column
                    h3.is-size-5 #{guest.Name}
                    .control
                      label.radio
                        input(type="radio" name=guest._id value="rsvp-yes" class="mr-2" checked=guest.RSVP)
                        |  #{canJoin}

                    .control
                      label.radio
                        input(type="radio" name=guest._id value="rsvp-no" class="mr-2" checked=guest.RSVPResponded && !guest.RSVP)
                        |  #{cantJoin}

              a#submit-rsvp.button.is-primary
                | #{RSVP}

            else
              h2.title.is-size-3 #{notLoggedIn}

include includes/footer.pug

script(src='/rsvp.js') 